[Desktop Entry]
Type=Application
Name=Ghost Expo
Comment=Overview of workspaces and open windows
Exec=oldbook-expo
Icon=view-grid-symbolic
Terminal=false
Categories=Utility;
Keywords=overview;expose;expo;workspaces;windows;gestures;
