* { font-family: "JetBrainsMono Nerd Font", sans-serif; font-size: 12px; }
.control-center, .notification, .widget-title, .widget-dnd, .widget-mpris, .widget-volume, .widget-backlight, .widget-buttons-grid {
  background: rgba(23, 29, 41, 0.97);
  color: #E8DEC7;
  border: none;
  border-radius: 14px;
}
.control-center { padding: 12px; box-shadow: 0 10px 32px rgba(17, 21, 30, 0.65); }
.notification { margin: 8px; padding: 12px; }
.notification-row:focus, .notification-row:hover { background: #45474c; }
.widget-title, .widget-dnd, .widget-mpris, .widget-volume, .widget-backlight, .widget-buttons-grid { margin: 6px 0; padding: 10px; }
.widget-title > button, .widget-dnd > switch slider, .widget-buttons-grid > flowbox > flowboxchild > button { background: #2c3039; color: #E8DEC7; border-radius: 10px; }
.widget-title > button:hover, .widget-buttons-grid > flowbox > flowboxchild > button:hover { background: #45474c; }
progressbar, scale highlight { background: #C86B58; border-radius: 8px; }
scale trough { background: #45474c; border-radius: 8px; min-height: 9px; }

.notification.critical { border-color: #d57b74; }
.notification .summary { color: #ede5d2; font-weight: bold; }
.notification .time, .notification .app-name { color: #949188; }
.widget-title > label { color: #C86B58; font-weight: bold; }
.widget-dnd > switch:checked { background: #9ac774; }
