[Unit]
Description=Space Ghost Oldbook desktop services
BindsTo=sway-session.target
After=sway-session.target
Wants=oldbook-desktop-settings.service
Wants=oldbook-notification-led.service
Wants=oldbook-shortcuts.service
Wants=oldbook-swayidle.service
Wants=oldbook-swaync.service
Wants=oldbook-wallpaper.service
Wants=oldbook-waybar.service
Wants=oldbook-workspaces.service

