[Unit]
Description=Oldbook Waybar panel
PartOf=oldbook-session.target
After=oldbook-swaync.service

[Service]
Type=simple
ExecStart=/usr/bin/waybar
Restart=on-failure
RestartSec=2

