[Unit]
Description=Oldbook notification center
PartOf=oldbook-session.target
After=sway-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swaync
Restart=on-failure
RestartSec=2

