[Desktop Entry]
Type=Application
Name=Superhold Shortcut Guide
Comment=Search and activate contextual shortcuts in Sway
Exec=superhold show
TryExec=superhold
Icon=input-keyboard
Terminal=false
Categories=Utility;Accessibility;
Keywords=Shortcuts;Sway;Keyboard;Guide;
StartupNotify=false
