* { font-family: "JetBrainsMono Nerd Font", sans-serif; font-size: 12px; }
.control-center, .notification, .widget-title, .widget-dnd, .widget-mpris, .widget-volume, .widget-backlight, .widget-buttons-grid {
  background: rgba(33, 27, 53, 0.97);
  color: #D8C9A2;
  border: none;
  border-radius: 14px;
}
.control-center { padding: 12px; box-shadow: 0 10px 32px rgba(24, 20, 39, 0.65); }
.notification { margin: 8px; padding: 12px; }
.notification-row:focus, .notification-row:hover { background: #49414d; }
.widget-title, .widget-dnd, .widget-mpris, .widget-volume, .widget-backlight, .widget-buttons-grid { margin: 6px 0; padding: 10px; }
.widget-title > button, .widget-dnd > switch slider, .widget-buttons-grid > flowbox > flowboxchild > button { background: #332c40; color: #D8C9A2; border-radius: 10px; }
.widget-title > button:hover, .widget-buttons-grid > flowbox > flowboxchild > button:hover { background: #49414d; }
progressbar, scale highlight { background: #C56A4A; border-radius: 8px; }
scale trough { background: #49414d; border-radius: 8px; min-height: 9px; }

.notification.critical { border-color: #d57b71; }
.notification .summary { color: #e0d4b5; font-weight: bold; }
.notification .time, .notification .app-name { color: #8f8376; }
.widget-title > label { color: #C56A4A; font-weight: bold; }
.widget-dnd > switch:checked { background: #99c671; }
